@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body
{
  scroll-behavior: smooth;
}
.main
{
  height:700px;
  width:100%;
  background-image: url(images/headphones-african-american-woman-s-portrait-isolated-dark-studio-background-multicolored-neon-light-beautiful-female-model-concept-human-emotions-facial-expression-sales-ad-fashion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper
{
  height: 100%;
  width:100%;
  background-image: 
  repeating-linear-gradient(90deg, #ff5403,rgba(0,0,0,0.3));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.img
{
    height: 45%;
    width:60%;
    display: flex;
    align-items: center;
}
.down
{
  height: 50%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#tag-line
{
  margin-left:30px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2.5em;
  color:#edeeee;
  text-shadow:5px 5px 0px #4b35de,
              10px 7px 0px #35cdcd,
              20px 10px 0px #24f16f;
}
#tag-2
{
  margin-left:30px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2.1em;
  color: #edeeee;
}
#btn
{
  height: 40px;
  width:170px;
  box-shadow: 10px 10px 40px #40f5f5
              ,-10px -10px 40px #e93de9;
  background-image: linear-gradient(to left,rgb(246, 79, 215),rgb(41, 200, 253));
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 20px;
  border: 3px solid #edeeee;
  font-size: 1.3em;
  text-transform: capitalize;
  letter-spacing: 1.8px;
  transition: all 0.5s ease;
  color: #ff4603;
}
#btn:hover
{
  color: #edeeee;
  background-color: transparent;
}

@media screen and (max-width: 373px) {
  body {
    height: 700px;
    scroll-behavior: smooth;
  }
  .main {
    height: 100%;
    width: 100%;
    background-image: url(images/headphones-african-american-woman-s-portrait-isolated-dark-studio-background-multicolored-neon-light-beautiful-female-model-concept-human-emotions-facial-expression-sales-ad-fashion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-180deg, #99feff, #ff5403);
    overflow: hidden;
    position: relative;
  }
  .img {
    height: 45%;
    width: 150%;
    margin: 10% -15%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #tag-line {
    position: absolute;
    top: 15%;
    left: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Permanent Marker', cursive;
    color:#ff5403;
    text-shadow: 3px 3px 5px#ab732a;
    text-transform: uppercase;
  }
  #tl-3 {
    align-self: center;
  }
  .down
  {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  #tag-2
  {
    min-height: 35%;
    width:70%;
    padding-left:15px;
  }
  #tag-2 h1
  {
    font-size: 3.1em;
    text-transform: capitalize;
    color: #99feff;
    text-shadow: 3px 3px 6px#0d1313;
  }
}
